html {
	background: #CCBADC;
}

body {
	background: linear-gradient(#DDD1E7, #EEE8F3);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);
	width: 98%;
	margin: 1 auto;
}

div {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	
}

#header {
	position: relative;
	height: 125px;
	margin-bottom: 1em;
	background: linear-gradient(#E0EEEE, #C1CDCD);
	background: -moz-linear-gradient(#E0EEEE, #C1CDCD);
	background: -ms-linear-gradient(#E0EEEE, #C1CDCD);
	background: -o-linear-gradient(#E0EEEE, #C1CDCD);
	box-shadow: 0 0 10px 5px #000;
	text-align: left;
		
}

#headerimages img {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 0;
	left: 0;
	padding: 5px;
	margin: 5px;
	border-style: none;
}

#headertext {
	position: absolute;
	margin: 2px;
	padding-left: 100px;
	height: 100px;
	width: 70%;
	text-align: left;
	border-style: none;
}

#headerlinks {
	position: absolute;
	height: 100 px;
	width: 30%;
	top: 0;
	right: 0;
	float: left;
	padding: 1px;
	list-style: none;
	text-align: center;
	display: inline-block;
	border-style: none;
	
}

#headerlinks ul {
	padding: 10px;
	list-style: none;
	text-align: center;
	display: inline-block;
	
}

#headerlinks .a-hbutton {
    background:#EEBA4C;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#EEBA4C,0),color-stop(#FDEDD0,1));
    background:-webkit-linear-gradient(top, #EEBA4C 0%, #FDEDD0 100%);
    background:-moz-linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    background:-o-linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    background:linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
    padding-left:20px;
    padding-right:80px;
    height:38px;
    display:inline-block;
    position:relative;
    border:1px solid #5d81ab;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    float:left;
    clear:both;
    margin:1px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
     text-decoration: none;
}
#headerlinks .a-hbutton-text{
    padding-top:10px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#000;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
#headerlinks .a-hbutton-slide-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#63707e;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
#headerlinks .a-hbutton-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
#headerlinks .a-hbutton-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(http://design14.volusion.com/v/proofs/Hack_Day_CSS3/images/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
#headerlinks .a-hbutton:hover{
    padding-right:180px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
#headerlinks .a-hbutton:hover .a-hbutton-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#fff;
}
#headerlinks .a-hbutton:hover .a-hbutton-slide-text{
    width:100px;
}
#headerlinks .a-hbutton:hover .a-hbutton-icon-right span{
    opacity:1;
}
#headerlinks .a-hbutton:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}

h1 {
	text-align: center;
	padding: 10px;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

#nav {
	height: 100px;
	width: 100%;
	margin-bottom: 1em;
	background: linear-gradient(#E0EEEE, #668B8B);
	background: -moz-linear-gradient(#E0EEEE, #668B8B);
	background: -ms-linear-gradient(#E0EEEE, #668B8B);
	background: -o-linear-gradient(#E0EEEE, #668B8B);
	box-shadow: 0 0 10px 5px #000;
	text-align: center;
	

}

#nav a:link, a:visited {
   moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

#nav a:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}

#nav a:active {
 	position: relative;
 	top: 1px;
 }

#nav ul li {
	
	padding: 10px;
	list-style: none;
	text-align: center;
	display: inline-block;
}

button {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

#content {
	float: right;
	height: 500px;
	width: 79%;
	background: linear-gradient(#E0EEEE, #2F4F4F);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);
	margin-bottom: 1em;
	box-shadow: 0 0 10px 5px #000;
}

#content p {
	color: #3D2117;
	font-size: 30px;
	padding: 10px;
}

#content .home {
	position: relative;
	float: right;
	width: 480px;
	height: 207px;
	padding: 7px;
	margin-right: 10px;
}

#content .products {
	position: relative;
	float: left;
	width: 384px;
	height: 256px;
	padding: 7px;
	margin-right: 10px;
}

#content .aboutus {
	position: relative;
	float: right;
	width: 403px;
	height: 268px;
	padding: 5px;
}

#content .p {
	border-style: none;
}

#content .p p {
	color: #3D2117;
	font-size: 20px;
	padding: 10px;
}

#content .contactus {
	position: relative;
	float: right;
	width: 336px;
	height: 448px;
	padding: 7px;
	margin-right: 10px;
}

#content .testimony {
	position: relative;
	float: right;
	width: 384px;
	height: 255px;
	padding: 7px;
	margin-right: 10px;
}

#content .formstyle {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background:#EEBA4C;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#EEBA4C,0),color-stop(#FDEDD0,1));
    background:-webkit-linear-gradient(top, #EEBA4C 0%, #FDEDD0 100%);
    background:-moz-linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    background:-o-linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    background:linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#content .formstyle h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}

#content .formstyle p {
	display: block;
    font-size: 20px;
}

#content .formstyle label {
	display: block;
    margin: 0px 0px 5px;
    color: #3D2117;
    height: 25px;
    line-height:15px;
    font-size: 20px;
}

#content .formstyle input {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}

#content .formbutton {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

#content .formbutton:hover {
    color: #333;
    background-color: #EBEBEB;
}

#content .formbutton:active {
	position:relative;
    top:1px;
}

#content2 {
	float: right;
	height: 1000px;
	width: 79%;
	background: linear-gradient(#E0EEEE, #2F4F4F);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);
	margin-bottom: 1em;
	box-shadow: 0 0 10px 5px #000;
}

#content2 img {
	display: block;
	margin: 0 auto;
}

.imgstyle {
	display: block;
	margin: 0 auto;
}

#content2 p {
	color: #3D2117;
	font-size: 30px;
	padding: 10px;
}

#content2 .home {
	position: relative;
	float: right;
	width: 480px;
	height: 207px;
	padding: 7px;
	margin-right: 10px;
}

#content2 .products {
	position: relative;
	float: left;
	width: 384px;
	height: 256px;
	padding: 7px;
	margin-right: 10px;
}

#content2 .aboutus {
	position: relative;
	float: right;
	width: 403px;
	height: 268px;
	padding: 5px;
}

#content2 .p {
	border-style: none;
}

#content2 .p p {
	color: #3D2117;
	font-size: 20px;
	padding: 10px;
}

#content2 .contactus {
	position: relative;
	float: right;
	width: 336px;
	height: 448px;
	padding: 7px;
	margin-right: 10px;
}

#content2 .testimony {
	position: relative;
	float: right;
	width: 384px;
	height: 255px;
	padding: 7px;
	margin-right: 10px;
}

#content2 .formstyle {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background:#EEBA4C;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#EEBA4C,0),color-stop(#FDEDD0,1));
    background:-webkit-linear-gradient(top, #EEBA4C 0%, #FDEDD0 100%);
    background:-moz-linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    background:-o-linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    background:linear-gradient(top, #FDEDD0 0%, #6f97c5 100%);
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#content2 .formstyle h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}

#content2 .formstyle p {
	display: block;
    font-size: 20px;
}

#content2 .formstyle label {
	display: block;
    margin: 0px 0px 5px;
    color: #3D2117;
    height: 25px;
    line-height:15px;
    font-size: 20px;
}

#content2 .formstyle input {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}

#content2 .formbutton {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

#content2 .formbutton:hover {
    color: #333;
    background-color: #EBEBEB;
}

#content2 .formbutton:active {
	position:relative;
    top:1px;
}

#content .pstyle {
	display: block;
    font-size: 20px;
    color: #000;
    text-align: center;
}

#content .pstyle h3 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
    text-align: center;
}

#content .pstyle a {
	background: #FDEDD0;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}
#content .pstyle a:hover {
    color: #333;
    background-color: #EBEBEB;
}

#content .pstyle a:active {
	position:relative;
    top:1px;
}

#content2 .pstyle {
	display: block;
    font-size: 20px;
    color: #000;
    text-align: center;
}

#content2 .pstyle a {
	background: #FDEDD0;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}
#content2 .pstyle a:hover {
    color: #333;
    background-color: #EBEBEB;
}

#content2 .pstyle a:active {
	position:relative;
    top:1px;
}

#sidebar {
	float: left;
	height: 500px;
	width: 20%;
	background: linear-gradient(#E0EEEE, #2F4F4F);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);
	margin-bottom: 1em;
	box-shadow: 0 0 10px 5px #000;
}

#sidebarrt {
	position: relative;
	float: right;
	height: 500px;
	width: 30%;
	
	border-style:none;
	
}
#innerbarleft {
	float: left;
	height: 500px;
	width: 7%;
	border-style:none;	
}
#sidebar2 {
	float: left;
	width: 20%;
	height: 1000px;
	background: linear-gradient(#E0EEEE, #2F4F4F);
	background: -moz-linear-gradient(#E0EEEE, #2F4F4F);
	background: -ms-linear-gradient(#E0EEEE, #2F4F4F);
	background: -o-linear-gradient(#E0EEEE, #2F4F4F);
	margin-bottom: 1em;
	box-shadow: 0 0 10px 5px #000;
}

.bsidebar {
  	
	height: 100px;
	width: 120px;
	border-style: none;
	position: fixed;

}

#content2 table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    
}

#content2 td, #content2 th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#content2 tr:nth-child(even){background-color: #f2f2f2}

#content tr:hover {background-color: #ddd;}

#content2 th {
    padding-top: 12px;
    padding-bottom: 12px;
	background: #804040;
    color: white;
}

#content table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

#content td, #content th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#content tr:nth-child(even){background-color: #f2f2f2}

#content tr:hover {background-color: #ddd;}

#content th {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #804040;
    color: white;
}

#content2 .table2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    
}

#content2 .table2 td, #content2 .table2 th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#content2 .table2 tr:nth-child(even){background-color: #f2f2f2}

#content2 .table2 tr:hover {background-color: #ddd;}

#content2 .table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
	background: #804040;
    color: white;
}

#content .table2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    
}

#content .table2 td, #content .table2 th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#content .table2 tr:nth-child(even){background-color: #f2f2f2}

#content .table2 tr:hover {background-color: #ddd;}

#content .table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
	background: #804040;
    color: white;
}

.bsidebar img {
	width:150px;
	height:200px;
	margin-top: -3em;
	margin-right: 1em;
	margin-left: 1em;
	position: fixed;
	border-style: none;
}

.scarfslideshow img {
	width: 171px;
	height: 228px;
	position: fixed;
	border-style: none;
}

.scarfslideshow{
  position: relative;
  max-width: 171px;
  height: 228px;
  margin: 2em auto 5em auto;
  border-style: none;
}
.scarfslideshow figure{
  position: absolute;
  margin: 0;
  max-width: 171px;
  height: 228px;
  background: #000;
  border-style: none;  
  
}
.scarfslideshow img{
  box-shadow: 0 0 2px #666;
  border-style: none;
}
.scarfslideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.scarfslideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
  text-align: center;
}
.scarfslideshow-attr{
  max-width: 171px;
  text-align: center;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.scarfslideshow-attr a{
  color: #666;
}
.scarfslideshow figure{
  opacity:5;
}
figure:nth-child(1) {
  animation: xfade 24s 21s infinite;
}
figure:nth-child(2) {
  animation: xfade 24s 18s infinite;
}
figure:nth-child(3) {
  animation: xfade 24s 15s infinite;
}
figure:nth-child(4) {
  animation: xfade 24s 12s infinite;
}
figure:nth-child(5) {
  animation: xfade 24s 9s infinite;
}
figure:nth-child(6) {
  animation: xfade 24s 6s infinite;
}
figure:nth-child(7) {
  animation: xfade 24s 3s infinite;
}
figure:nth-child(8) {
  animation: xfade 24s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer {
	clear: both;
	height: 75px;
	margin-top: 1em;
	background: linear-gradient(#E0EEEE, #668B8B);
	background: -moz-linear-gradient(#E0EEEE, #C1CDCD);
	background: -ms-linear-gradient(#E0EEEE, #C1CDCD);
	background: -o-linear-gradient(#E0EEEE, #C1CDCD);
	box-shadow: 0 0 10px 5px #000;
}

#footertext {
	position: absolute;
	padding-left: 5px;
	height: 100px;
	width: 70%;
	text-align: left;
	border-style: none;
}

#footerimages img {
	position: relative;
	float: right;
	padding-right: 5px;
	margin-top: 20px;
	margin-right: 45px;
	border-style: solid;
	width: 32px;
	height: 32px;
	border-style: none;
}




